In [1]:
#library import

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from collections import Counter
from scipy.stats import entropy
import math
from functools import reduce
from sklearn.feature_selection import mutual_info_classif

In [2]:
#data reading

data = pd.read_csv('parkinson.csv')
data.head()

,id,gender,PPE,DFA,RPDE,numPulses,numPeriodsPulses,meanPeriodPulses,stdDevPeriodPulses,locPctJitter,...,tqwt_kurtosisValue_dec_28,tqwt_kurtosisValue_dec_29,tqwt_kurtosisValue_dec_30,tqwt_kurtosisValue_dec_31,tqwt_kurtosisValue_dec_32,tqwt_kurtosisValue_dec_33,tqwt_kurtosisValue_dec_34,tqwt_kurtosisValue_dec_35,tqwt_kurtosisValue_dec_36,class
0,0,1,0.85247,0.71826,0.57227,240,239,0.008064,0.000087,0.00218,...,1.5620,2.6445,3.8686,4.2105,5.1221,4.4625,2.6202,3.0004,18.9405,1
1,0,1,0.76686,0.69481,0.53966,234,233,0.008258,0.000073,0.00195,...,1.5589,3.6107,23.5155,14.1962,11.0261,9.5082,6.5245,6.3431,45.1780,1
2,0,1,0.85083,0.67604,0.58982,232,231,0.008340,0.000060,0.00176,...,1.5643,2.3308,9.4959,10.7458,11.0177,4.8066,2.9199,3.1495,4.7666,1
3,1,0,0.41121,0.79672,0.59257,178,177,0.010858,0.000183,0.00419,...,3.7805,3.5664,5.2558,14.0403,4.2235,4.6857,4.8460,6.2650,4.0603,1
4,1,0,0.32790,0.79782,0.53028,236,235,0.008162,0.002669,0.00535,...,6.1727,5.8416,6.0805,5.7621,7.7817,11.6891,8.2103,5.0559,6.1164,1

In [4]:
data.index=range(0,len(data),1)
data.head()

,id,gender,PPE,DFA,RPDE,numPulses,numPeriodsPulses,meanPeriodPulses,stdDevPeriodPulses,locPctJitter,...,tqwt_kurtosisValue_dec_28,tqwt_kurtosisValue_dec_29,tqwt_kurtosisValue_dec_30,tqwt_kurtosisValue_dec_31,tqwt_kurtosisValue_dec_32,tqwt_kurtosisValue_dec_33,tqwt_kurtosisValue_dec_34,tqwt_kurtosisValue_dec_35,tqwt_kurtosisValue_dec_36,class
0,0,1,0.85247,0.71826,0.57227,240,239,0.008064,0.000087,0.00218,...,1.5620,2.6445,3.8686,4.2105,5.1221,4.4625,2.6202,3.0004,18.9405,1
1,0,1,0.76686,0.69481,0.53966,234,233,0.008258,0.000073,0.00195,...,1.5589,3.6107,23.5155,14.1962,11.0261,9.5082,6.5245,6.3431,45.1780,1
2,0,1,0.85083,0.67604,0.58982,232,231,0.008340,0.000060,0.00176,...,1.5643,2.3308,9.4959,10.7458,11.0177,4.8066,2.9199,3.1495,4.7666,1
3,1,0,0.41121,0.79672,0.59257,178,177,0.010858,0.000183,0.00419,...,3.7805,3.5664,5.2558,14.0403,4.2235,4.6857,4.8460,6.2650,4.0603,1
4,1,0,0.32790,0.79782,0.53028,236,235,0.008162,0.002669,0.00535,...,6.1727,5.8416,6.0805,5.7621,7.7817,11.6891,8.2103,5.0559,6.1164,1

In [5]:
data.dropna()
data.isnull().sum()

id                           0
gender                       0
PPE                          0
DFA                          0
RPDE                         0
                            ..
tqwt_kurtosisValue_dec_33    0
tqwt_kurtosisValue_dec_34    0
tqwt_kurtosisValue_dec_35    0
tqwt_kurtosisValue_dec_36    0
class                        0
Length: 755, dtype: int64

In [6]:
#data split

X = data.drop(['class'], axis=1)
y = data['class']
x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.6)
print(len(x_train),len(x_test),len(y_train),len(y_test))

302 454 302 454

In [7]:
#accuracies with classifier run WITHOUT feature selection

model1=SVC()
model2=GaussianNB()
model3 = DecisionTreeClassifier()
model4 = KNeighborsClassifier()
model1.fit(x_train, y_train)
print ('SVC Score:' ,model1.score(x_test, y_test))
model2.fit(x_train, y_train)
print ('NB Score:' ,model2.score(x_test, y_test))
model3.fit(x_train, y_train)
print ('DT Score:' ,model3.score(x_test, y_test))
model4.fit(x_train, y_train)
print ('KNN Score:' ,model4.score(x_test, y_test))

SVC Score: 0.73568281938326
NB Score: 0.7268722466960352
DT Score: 0.7577092511013216
KNN Score: 0.7224669603524229

In [8]:
#FILTER TECHNIQUE 1

#correlation

df1 = X
op=y
a1=[]
c1=[]
for i in df1.columns.values:
        df1[i]=df1[i].astype('float64')
        correlation=op.corr(df1[i])
        if correlation>0.2:
            a1.append(correlation)
            c1.append(i)

dfc1=pd.DataFrame(c1)
dfa1=pd.DataFrame(a1)
info1 = pd.concat([dfc1,dfa1], axis=1)
info1.columns = ['name','correlation']
info1

                         name  correlation
0                         DFA     0.306070
1                        RPDE     0.247444
2            meanPeriodPulses     0.211368
3                locPctJitter     0.204228
4                apq11Shimmer     0.227427
..                        ...          ...
69       tqwt_minValue_dec_16     0.244959
70  tqwt_kurtosisValue_dec_18     0.208645
71  tqwt_kurtosisValue_dec_20     0.225739
72  tqwt_kurtosisValue_dec_35     0.219454
73  tqwt_kurtosisValue_dec_36     0.279827

[74 rows x 2 columns]

In [9]:
#selecting top 50 features

top1 = info1.nlargest(50,'correlation')
SelectedFeatures1= np.array(top1['name'])
SelectedFeatures1

array(['mean_MFCC_2nd_coef', 'tqwt_minValue_dec_12',
       'tqwt_minValue_dec_11', 'tqwt_minValue_dec_13',
       'std_9th_delta_delta', 'std_8th_delta_delta',
       'std_7th_delta_delta', 'std_6th_delta_delta', 'std_8th_delta',
       'std_10th_delta_delta', 'std_9th_delta', 'std_11th_delta_delta',
       'std_6th_delta', 'std_7th_delta', 'std_delta_delta_log_energy',
       'tqwt_minValue_dec_14', 'std_10th_delta', 'std_11th_delta', 'DFA',
       'std_12th_delta_delta', 'tqwt_minValue_dec_10',
       'app_entropy_shannon_10_coef', 'app_entropy_shannon_9_coef',
       'app_entropy_shannon_8_coef', 'app_entropy_shannon_7_coef',
       'app_entropy_shannon_6_coef', 'app_entropy_shannon_5_coef',
       'app_entropy_shannon_4_coef', 'app_entropy_shannon_3_coef',
       'app_entropy_shannon_2_coef', 'app_entropy_shannon_1_coef',
       'std_12th_delta', 'tqwt_kurtosisValue_dec_36',
       'tqwt_entropy_log_dec_26', 'std_4th_delta_delta', 'std_4th_delta',
       'tqwt_minValue_dec_15', 'tqwt_entropy_log_dec_27',
       'std_5th_delta_delta', 'app_LT_entropy_shannon_6_coef',
       'app_LT_entropy_shannon_8_coef', 'app_LT_entropy_shannon_9_coef',
       'app_LT_entropy_shannon_10_coef', 'app_LT_entropy_shannon_5_coef',
       'std_delta_log_energy', 'app_LT_entropy_shannon_7_coef',
       'app_LT_entropy_shannon_4_coef', 'std_5th_delta',
       'tqwt_minValue_dec_7', 'app_LT_entropy_shannon_3_coef'],
      dtype=object)

In [10]:
#FILTER TECHNIQUE 2

#info gain ratio

from scipy.stats import entropy
def info_gain(Ex,a):
    H_Ex = entropy(list(Counter(Ex).values()))
    # Compute the sum of all values v in a
    sum_v = 0
    for v in set(a):
        Ex_a_v = [x for x, t in zip(Ex, a) if t == v]
        sum_v += (len(Ex_a_v) / len(Ex)) *\
                 (entropy(list(Counter(Ex_a_v).values())))

    # Return result
    return H_Ex - sum_v


def intrinsic_value(Ex, a):
    # Compute the sum of all values v in a
    sum_v = 0
    for v in set(a):
        Ex_a_v = [x for x, t in zip(Ex, a) if t == v]
        sum_v += (len(Ex_a_v) / len(Ex)) * math.log(len(Ex_a_v) / len(Ex), 2)

    # Return result
    return -sum_v


def info_gain_ratio(Ex, a):
        # Check whether examples and attributes have the same lengths.
    if len(Ex) != len(a):
        raise ValueError("Ex and a must be of the same size.")

    # Compute information gain ratio as IG/IV
    return info_gain(Ex, a) / intrinsic_value(Ex, a)

In [11]:
ar=[]
br=[]
iv=[]
ig=[]
for (columnName, columnData) in X.iteritems():
        a=info_gain_ratio(columnData, y)
        c=intrinsic_value(columnData, y)
        d=info_gain(columnData, y)
        ar.append(a)
        br.append(columnName)
        iv.append(c)
        ig.append(d)
a1 = pd.DataFrame(ar)
b1 = pd.DataFrame(br)
info2 = pd.concat([a1,b1], axis=1)
info2.columns = ['Score','Features']
info2

        Score                   Features
0    0.693147                         id
1    0.020593                     gender
2    0.681085                        PPE
3    0.686418                        DFA
4    0.688661                       RPDE
..        ...                        ...
749  0.686418  tqwt_kurtosisValue_dec_32
750  0.688661  tqwt_kurtosisValue_dec_33
751  0.693147  tqwt_kurtosisValue_dec_34
752  0.690904  tqwt_kurtosisValue_dec_35
753  0.693147  tqwt_kurtosisValue_dec_36

[754 rows x 2 columns]

In [12]:
#selecting top 50 features

top2 = info2.nlargest(50,'Score')
SelectedFeatures2= np.array(top2['Features'])
SelectedFeatures2

array(['id', 'b4', 'mean_MFCC_8th_coef', 'mean_0th_delta',
       'mean_1st_delta', 'mean_11th_delta', 'std_6th_delta',
       'det_entropy_log_6_coef', 'det_TKEO_mean_5_coef',
       'det_TKEO_std_3_coef', 'app_entropy_log_4_coef',
       'app_entropy_log_10_coef', 'det_LT_entropy_shannon_1_coef',
       'det_LT_entropy_log_9_coef', 'det_LT_TKEO_std_8_coef',
       'app_LT_TKEO_mean_4_coef', 'app_LT_TKEO_std_4_coef',
       'tqwt_energy_dec_9', 'tqwt_energy_dec_10', 'tqwt_energy_dec_14',
       'tqwt_energy_dec_20', 'tqwt_energy_dec_21',
       'tqwt_entropy_shannon_dec_4', 'tqwt_entropy_shannon_dec_13',
       'tqwt_TKEO_mean_dec_14', 'tqwt_TKEO_mean_dec_16',
       'tqwt_TKEO_mean_dec_25', 'tqwt_TKEO_std_dec_26',
       'tqwt_stdValue_dec_20', 'tqwt_stdValue_dec_30',
       'tqwt_stdValue_dec_34', 'tqwt_stdValue_dec_35',
       'tqwt_minValue_dec_5', 'tqwt_minValue_dec_7',
       'tqwt_minValue_dec_13', 'tqwt_maxValue_dec_20',
       'tqwt_maxValue_dec_25', 'tqwt_maxValue_dec_26',
       'tqwt_maxValue_dec_36', 'tqwt_skewnessValue_dec_6',
       'tqwt_skewnessValue_dec_36', 'tqwt_kurtosisValue_dec_2',
       'tqwt_kurtosisValue_dec_3', 'tqwt_kurtosisValue_dec_6',
       'tqwt_kurtosisValue_dec_11', 'meanPeriodPulses', 'minIntensity',
       'maxIntensity', 'meanIntensity', 'f1'], dtype=object)

In [13]:
#FILTER TECHNIQUE 3

#Symmetrical Uncertainty


#entropy
from scipy.stats import entropy

#Joint Entropy
def jEntropy(Y,X):
    YX = np.c_[Y,X]
    return entropy(YX)

#conditional entropy
def cEntropy(Y, X):
    return jEntropy(Y, X) - entropy(X)

#SU
def symmetricalUncertain(Y,X):
    n = float(y.shape[0])
    vals = np.unique(Y)
    # Computing Entropy for the feature x. 
    Hx = entropy(X)
    # Computing Entropy for the feature y.
    Hy = entropy(Y)
    #Computing Joint entropy between x and y.
    Hxy = jEntropy(Y,X)
    IG = Hx-Hxy
    return 2*IG/(Hx+Hy)

In [14]:
top_n1 =[]
for i in X.columns.values:
    X[i]=X[i].astype('float64')
    top_n1.append(symmetricalUncertain(X[i],y))
#print (top_n1)
top_n2=[row[0] for row in top_n1]
print (top_n2)

col_name1 = np.array(X.columns)
a1 = pd.DataFrame(top_n2)
b1 = pd.DataFrame(col_name1)
info3 = pd.concat([a1,b1], axis=1)
info3.columns = ['Score','Features']
info3

<ipython-input-13-677bcc6d6073>:29: RuntimeWarning: invalid value encountered in true_divide
  return 2*IG/(Hx+Hy)

[-0.01532484923111689, 0.059979104911067484, -0.04014998094629275, -0.04445373792218621, -0.03914002732010321, -0.03816739285632279, -0.03806178514838645, -0.03915173233762445, 0.13732784143556723, 0.014898541265130655, 0.03931297553885873, 0.0616236247540486, 0.040880486377066975, 0.06158199411974554, -0.017738642246769746, -0.01770479315307786, -0.016189537819829902, -0.016374705130363324, -0.020156992668447463, -0.016189579057487424, -0.044838620601469314, 0.12117718546562693, -0.037609008955861854, -0.0439048816987751, -0.04463188590025568, -0.04448092654063084, -0.0418451772790125, -0.04380867587112991, -0.04333562378385711, -0.044474115145133906, 0.025708735294261723, 0.04704589664467318, 0.05007880748073965, 0.03281146803891219, -0.04281684856819879, 0.015156454002176283, 0.12866624643398628, -0.038931430830191356, -0.021759153204819227, -0.03702970954658219, -0.041545023738912265, -0.04508648026508969, -0.04518452827606753, 0.049927476150886316, 0.052678621985279984, 0.058733986939325744, 0.0385261920657168, 0.018570852729677335, -0.044936351493491594, -0.04485936746943744, 0.13347006008375709, 0.021799217326098696, 0.007724453152143227, -0.038550933463255936, -0.009351435413162565, -0.04266096963337464, -0.04496481142632773, -0.0433945042415152, -0.03987669360703534, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, -0.00496319156243487, -0.023349125281533017, -0.02815406965662442, -0.03526544994751452, -0.0349568254059527, -0.03619069392927909, -0.035922882244771845, -0.036982524592367325, -0.03863930213227376, -0.03917399195739228, -0.03948889751632375, -0.039610168214498025, -0.03973987848127909, -0.039933491430020354, -0.013936025545648306, -0.02803053717709205, -0.028862916653361475, -0.03521274429539687, -0.03422735217470161, -0.035780414940107315, -0.03582408347194112, -0.03745422746369908, -0.037670290553157834, -0.03887394107657661, -0.038759129215515435, -0.03827069305057279, -0.03941653469083293, -0.03929184868581979, -0.017983078629284097, -0.03117338379676634, -0.028264550312644618, -0.03487017690696996, -0.034019725288883494, -0.03537724881512845, -0.03624595883371705, -0.03789737869037726, -0.03833852034835018, -0.03951097818971243, -0.03920620192748829, -0.038792056941902735, -0.04002707847887017, -0.03988659100278889, -0.04520249384520154, 0.775747832598124, 0.6855222754093154, 0.5774501261489083, 0.4660171002409998, 0.49885767127768754, 0.42810093028419516, 0.4634056961561323, 0.49398312003904493, 0.48614300227703244, 0.47713794793919617, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0.6498895345280508, 0.5584740269309993, 0.5528030671981133, 0.4146671952595041, 0.42116915679400546, 0.4243421997279201, 0.4864981733922804, 0.5615168666814409, 0.3951294287782355, 0.4844641201801077, 0.5634234215041798, 0.508986063373682, 0.4444633890150661, 0.3925938085646116, 0.4186691076721806, 0.4244945190115842, 0.5244761411388795, 0.5630179992547996, 0.39960160648129034, 0.497360788835961, -0.01781950493050204, -0.018249920301969518, -0.018667712738919123, -0.019029145826818222, -0.019303503331418538, -0.019495907229063535, -0.019635544571243103, -0.01976162383412944, -0.019882506552624645, -0.019981613624459264, -0.044828543961974485, -0.04490053018611218, -0.04497059400556782, -0.0450307795836502, -0.045069888249454, -0.04509027376864492, -0.04510153200158765, -0.045111960850150144, -0.045119502564185725, -0.045126198995862295, -0.007461192576915693, -0.017023558772344013, -0.020912110966178798, -0.02222650778560226, -0.022309820425877706, -0.022489871794162546, -0.022659622694735104, -0.022763249423928104, -0.02278401446180867, -0.02276790836862434, -0.01174155778301145, -0.01849911359158737, -0.02032965205805521, -0.02265363545264202, -0.02250995788226435, -0.022380850331608974, -0.022437233110821637, -0.0227000314208886, -0.022975860615925787, -0.022880558722249002, -0.04520326352598264, 0.5362496596815781, 0.475052312695516, 0.4422580017769671, 0.3986108119800553, 0.4096509597954547, 0.4149430394029083, 0.4484331840867547, 0.4815316990003645, 0.4504030489270843, 0.5043047312093459, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, -0.043602727747984946, -0.04307397609464032, -0.04255820066497056, -0.04135326626443347, -0.04119008703176047, -0.041056894371880134, -0.040893309281731, -0.039541145125934714, -0.03926585119582127, nan, 0.5184988378422343, 0.44174501258715054, 0.4452833512363809, 0.3810595561315183, 0.4121229365415212, 0.43090791596559325, 0.454410044874135, 0.507496486842964, 0.4302144203302992, 0.5153514329464063, 0.44174917798244145, 0.40380872829418946, 0.38328115407949315, 0.3589182409778836, 0.3995197600985935, 0.42467058100796323, 0.47977328243572165, 0.5073278077273121, 0.43947205924053706, 0.5261684919758877, -0.04367830502290712, -0.04381073394164819, -0.043920403370998326, -0.0440058467573397, -0.044060339023417106, -0.044089448542218974, -0.04411011369194434, -0.04412599685443775, -0.044141695527128766, -0.044154953027579665, -0.04496107605595604, -0.045025710438279735, -0.0450864264875547, -0.045137868063998374, -0.045169355009968964, -0.04518289859764007, -0.04518728221074801, -0.04519176844634664, -0.045193385570550616, -0.04519468573492296, -0.04378104997614671, -0.044017786074263265, -0.04418862718456036, -0.04427051913835288, -0.04430904878870561, -0.04432614297822644, -0.04433057252496566, -0.04433775487804502, -0.04433827716651007, -0.044340104358314196, -0.04416579390392582, -0.04426749116260797, -0.04430952952035955, -0.0443384200100872, -0.04432981621882821, -0.04432304372440785, -0.04435106379075365, -0.04433164997650391, -0.04435226583229995, -0.04434380930965854, 0.3873576340171173, 0.35320557543002656, 0.3331224614238061, 0.2982236373564191, 0.28503781058328675, 0.24765625142539688, 0.1365280859207584, 0.10903701097203668, 0.0867498419803712, 0.12786127116176582, 0.15448261411696398, 0.13269204033132045, 0.07143642009910948, 0.027374090036062254, 0.016839786001889276, 0.0126043617762537, -0.00796692518249615, -0.0074721133818821065, 0.005829486928915303, 0.006609654792041972, 0.019784158671545163, 0.02768605040848509, 0.04756456343614465, 0.05000430287051479, 0.04708566267022522, 0.08083516146777495, 0.1844866188172237, 0.28107893311801324, 0.4980432342017017, 0.39520166215989416, 0.3461522482439268, 0.48127617480737045, 0.6820597890027194, 0.6072201544940843, 0.5297864787036219, 0.41518029889458014, 0.12389847829903572, 0.13996188172682245, 0.13818483924621017, 0.148044571833826, 0.16288613063736662, 0.1378907934819077, 0.10663892328833958, 0.09277167169504039, 0.06737296619033228, 0.07784617856428926, 0.11794787428722543, 0.13471600654970128, 0.07488374417649331, 0.03803961293298536, 0.025348695342589583, 0.017663211127800327, nan, nan, nan, nan, nan, 0.0016326442452749396, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0.23199274340008047, 0.21566229979886936, nan, -0.043535988091095656, -0.043126711349304465, -0.042724373779688775, -0.04223917472277513, -0.041725371300042745, -0.04188780312423734, -0.042304694786398846, -0.04229668534188225, -0.04216410042438992, -0.042001508247076956, -0.04181976814478385, -0.04008907813571725, -0.03831676326521678, -0.037066617834341016, -0.035616738659667684, -0.03277032789201936, -0.030162481294464773, -0.02992949367116766, -0.0338069552199348, -0.036753873126389246, -0.03625436859970647, -0.03601004777563995, -0.03355708759536644, nan, -0.014488875070189802, nan, nan, nan, nan, -0.0405233185742802, -0.040135383704179746, -0.03959077920959423, -0.03998115419885581, -0.03969881157025796, -0.03915274669416296, -0.03644288845269133, 0.17421030259341394, 0.18380064676525315, 0.19101722071725008, 0.22067043514590587, 0.27044227674373783, 0.26654709071814126, 0.16159190953915223, 0.15555519408626198, 0.09475714477002402, 0.10878952984709689, 0.17361769548022568, 0.23054073393304467, 0.18502673290053978, 0.09754276642704743, 0.07214070328958994, 0.07858578703200944, 0.05783350862999587, 0.060963140712656114, 0.07558159029043032, 0.0604931659375171, 0.09262099295396942, 0.09095887362306439, 0.11161186897464163, 0.13453262039917904, 0.13249496302237884, 0.1597381322229762, 0.3431323603340184, 0.44260469485016324, 0.8689959551444314, 0.6457834197113036, 0.36819830111542995, 0.6516854904431366, 0.7696213182796592, 0.4136329698616207, 0.3600896763533795, 0.28567165774499065, 0.09882189302846854, 0.16104252205295458, 0.19351300021056933, 0.24344375210611935, 0.31506173615293315, 0.3361484456052027, 0.14864083352237348, 0.1389810776153833, 0.09359989327176163, 0.10207509650418675, 0.1412897041763973, 0.1591028172119767, 0.13726216945580624, 0.07883055442079843, 0.05684983183092398, 0.049868612786797516, 0.04072088683058349, 0.03856809936786304, 0.04785634639940704, 0.05968495162302744, 0.0655193410985248, 0.06679547993273884, 0.10296238681858351, 0.12352998872815397, 0.12203546923016911, 0.1486661023633653, 0.2969864916857167, 0.4108791064081375, 0.5395249575436792, 0.4207423337313569, 0.3187238884649305, 0.5385551408876396, 0.562730177709177, 0.3555769168373667, 0.33507912042357435, 0.3167696580121166, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0.010160792107596914, 0.020617995197088592, 0.022912468889623498, 0.029247272538746705, 0.03718007556755745, 0.02689941680034834, 0.015556486129110264, 0.013265613648012577, 0.007707048236888289, 0.00969697800071594, 0.021492627663568825, 0.0350488706413869, 0.017945516706848623, 0.003911316309849921, -0.00011935421069865889, -0.000281953430659727, -0.00655019524077889, -0.008099658576873154, -0.008545044003851773, -0.013883351702323746, -0.008275411957674776, -0.010165674824164715, -0.004712327558997018, 0.005961163795498272, 0.016825353652710776, 0.042010680857072005, 0.09970633265005481, 0.1475230802217552, 0.1599958360425394, 0.08548226689957805, 0.0628574893738095, 0.07775317109498013, 0.09750645720967353, 0.09252100765970245, 0.0904907568623093, 0.09185887903521832, 0.009421792066792575, 0.005104883794670153, 0.005220733116200271, 0.009588968941421205, 0.013883319857312849, 0.013333219233323423, 0.0014234501530266896, -0.0007543403391147014, -0.001238087650815619, -0.0006388660619120474, 0.003012240276050913, 0.0040696060722491345, 0.0016233075510145203, -0.005452722256704928, -0.008512947887575126, -0.010654592011113734, -0.015077406181194884, -0.016079123038923466, -0.014774528148012363, -0.016854065694950914, -0.01550031436474679, -0.015558788140317564, -0.009880200178412448, -0.0026608043208465218, 0.004584720275209754, 0.019076869506201716, 0.05004643500568818, 0.06791804636737578, 0.06139600716262452, 0.03745747591203661, 0.04028689345540888, 0.05190423420597022, 0.06251557573086326, 0.06889388371325426, 0.07484632323659904, 0.08142947168343076, 0.007337671266303058, 0.0037008525865823896, 0.004693248477083437, 0.008846710091642776, 0.013598120015670444, 0.012089927059424757, 0.0009962988141331258, -0.0010408820208550713, -0.0018743673946961853, -0.0015284627221128202, 0.001250932646588534, 0.004089889139601613, 0.001248176941394193, -0.0053276030260674305, -0.008154471114997836, -0.0104535790512651, -0.014955180622776645, -0.01609461558625694, -0.014590236313097414, -0.016837612257744324, -0.015390158270866008, -0.015539993483457987, -0.01030439392839997, -0.002723123864340668, 0.004581172541323773, 0.019250715036427547, 0.050617805202849385, 0.06960978779731498, 0.06300718122154923, 0.03835237837120182, 0.03991460973511213, 0.05070255674855273, 0.06710249219106454, 0.07086857938553265, 0.07898970989029061, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0.3104405268566309, 0.4012880397653438, 0.4166140184899523, 0.4131412901137248, 0.40597240834926807, 0.4534810264602479, 0.4108586299341561, 0.23920882664982368, 0.26085909995969414, 0.2608182190734601, 0.14470983173707497, 0.1735418606575801, -0.0048935695578839165, -0.026026472449787758, -0.031026432347267357, -0.033983223010304583, -0.03448933985789083, -0.035014290555784304, -0.036979643244507296, -0.038063501413768776, -0.03770969416542511, -0.038084375759659526, -0.030213049191889402, 0.036878292313841925, 0.3036761554595995, 0.24238394948932068, 0.1528002979282475, 0.10266169795901607, 0.07367130914436869, 0.06372552992116577, 0.06562430738504198, 0.06515559646887872, 0.05144690048845526, 0.028528643930380522, 0.020830870078383308, 0.04473565329585605]

        Score                   Features
0   -0.015325                         id
1    0.059979                     gender
2   -0.040150                        PPE
3   -0.044454                        DFA
4   -0.039140                       RPDE
..        ...                        ...
749  0.065156  tqwt_kurtosisValue_dec_32
750  0.051447  tqwt_kurtosisValue_dec_33
751  0.028529  tqwt_kurtosisValue_dec_34
752  0.020831  tqwt_kurtosisValue_dec_35
753  0.044736  tqwt_kurtosisValue_dec_36

[754 rows x 2 columns]

In [15]:
#selecting top 50

top3 = info3.nlargest(50,'Score')
SelectedFeatures3 = np.array(top3['Features'])
SelectedFeatures3

array(['tqwt_TKEO_mean_dec_29', 'Ed_1_coef', 'tqwt_TKEO_mean_dec_33',
       'Ed_2_coef', 'tqwt_energy_dec_33', 'tqwt_TKEO_mean_dec_32',
       'det_TKEO_mean_1_coef', 'tqwt_TKEO_mean_dec_30',
       'tqwt_energy_dec_34', 'Ed_3_coef', 'det_TKEO_std_1_coef',
       'det_TKEO_std_8_coef', 'tqwt_TKEO_std_dec_33',
       'det_TKEO_mean_8_coef', 'det_TKEO_mean_2_coef',
       'det_TKEO_mean_3_coef', 'tqwt_TKEO_std_dec_29',
       'tqwt_TKEO_std_dec_32', 'Ed2_1_coef', 'tqwt_energy_dec_35',
       'det_LT_TKEO_std_10_coef', 'det_TKEO_std_7_coef',
       'det_LT_TKEO_mean_1_coef', 'det_LT_TKEO_mean_10_coef',
       'det_TKEO_std_2_coef', 'det_LT_TKEO_mean_8_coef',
       'det_LT_TKEO_std_8_coef', 'Ed2_10_coef', 'Ed_5_coef',
       'tqwt_energy_dec_29', 'det_TKEO_std_10_coef', 'Ed_8_coef',
       'det_TKEO_mean_7_coef', 'Ed_9_coef', 'det_TKEO_mean_10_coef',
       'Ed2_8_coef', 'tqwt_energy_dec_32', 'det_LT_TKEO_std_7_coef',
       'Ed_10_coef', 'Ed2_2_coef', 'Ed_4_coef', 'Ed_7_coef',
       'det_LT_TKEO_mean_7_coef', 'tqwt_kurtosisValue_dec_6',
       'Ed2_9_coef', 'Ed2_7_coef', 'det_LT_TKEO_mean_3_coef',
       'det_TKEO_std_3_coef', 'tqwt_TKEO_mean_dec_28', 'Ed2_3_coef'],
      dtype=object)

In [16]:
#Selecting 5k subset

def top_fs_union(n):
    f1 = SelectedFeatures1[:n]
    f2 = SelectedFeatures2[:n]
    f3 = SelectedFeatures3[:n]
    f_3k = reduce(np.union1d, (f1,f2,f3))
    f_2k = ((len(f_3k)*2)//3)
    f_2k_random = np.random.choice(f_3k,f_2k,replace=False)
    f_5k = reduce(np.union1d, (f_3k,f_2k_random))
    #print (f_5k)
    return(f_5k)

In [17]:
#Assemble Function RUN

def assemble_run(n,classifier,x_train, x_test, y_train, y_test):
  top_fs=top_fs_union(n)
  top_fs=np.append(top_fs,['class'], axis=0)
  df = data.loc[:,top_fs]
  X = df.drop(['class'], axis=1)
  y = df['class']
  model =classifier()#modify the code ,keep classifier in different function and call here
  model.fit(x_train, y_train)
  print (model.score(x_test,y_test))

In [18]:
#accuracies with classifier run WITH feature selection

for i in (5,10,15,20,25,30,40,50):
    print('Score for SVM by Union of '+str(i)+' Best Features:',end=' ')
    feature_run=assemble_run(i,SVC,x_train, x_test, y_train, y_test)
print('\n\n')

#NaiveBayes
for i in (5,10,15,20,25,30,40,50):
    print('Score for Naive Bayes by Union of '+str(i)+' Best Features:',end=' ')
    feature_run=assemble_run(i,GaussianNB,x_train, x_test, y_train, y_test)
print('\n\n')

#DecisionTree
for i in (5,10,15,20,25,30,40,50):
    print('Score for DecisionTree by Union of '+str(i)+' Best Features:',end=' ')
    feature_run=assemble_run(i,DecisionTreeClassifier,x_train, x_test, y_train, y_test)
print('\n\n')

#KNN
for i in (5,10,15,20,25,30,40,50):
    print('Score for KNN by Union of '+str(i)+' Best Features:',end=' ')
    feature_run=assemble_run(i,KNeighborsClassifier,x_train, x_test, y_train, y_test)
print('\n\n')

Score for SVM by Union of 5 Best Features: 0.73568281938326
Score for SVM by Union of 10 Best Features: 0.73568281938326
Score for SVM by Union of 15 Best Features: 0.73568281938326
Score for SVM by Union of 20 Best Features: 0.73568281938326
Score for SVM by Union of 25 Best Features: 0.73568281938326
Score for SVM by Union of 30 Best Features: 0.73568281938326
Score for SVM by Union of 40 Best Features: 0.73568281938326
Score for SVM by Union of 50 Best Features: 0.73568281938326



Score for Naive Bayes by Union of 5 Best Features: 0.7268722466960352
Score for Naive Bayes by Union of 10 Best Features: 0.7268722466960352
Score for Naive Bayes by Union of 15 Best Features: 0.7268722466960352
Score for Naive Bayes by Union of 20 Best Features: 0.7268722466960352
Score for Naive Bayes by Union of 25 Best Features: 0.7268722466960352
Score for Naive Bayes by Union of 30 Best Features: 0.7268722466960352
Score for Naive Bayes by Union of 40 Best Features: 0.7268722466960352
Score for Naive Bayes by Union of 50 Best Features: 0.7268722466960352



Score for DecisionTree by Union of 5 Best Features: 0.748898678414097
Score for DecisionTree by Union of 10 Best Features: 0.7422907488986784
Score for DecisionTree by Union of 15 Best Features: 0.775330396475771
Score for DecisionTree by Union of 20 Best Features: 0.737885462555066
Score for DecisionTree by Union of 25 Best Features: 0.7422907488986784
Score for DecisionTree by Union of 30 Best Features: 0.76431718061674
Score for DecisionTree by Union of 40 Best Features: 0.748898678414097
Score for DecisionTree by Union of 50 Best Features: 0.7533039647577092



Score for KNN by Union of 5 Best Features: 0.7224669603524229
Score for KNN by Union of 10 Best Features: 0.7224669603524229
Score for KNN by Union of 15 Best Features: 0.7224669603524229
Score for KNN by Union of 20 Best Features: 0.7224669603524229
Score for KNN by Union of 25 Best Features: 0.7224669603524229
Score for KNN by Union of 30 Best Features: 0.7224669603524229
Score for KNN by Union of 40 Best Features: 0.7224669603524229
Score for KNN by Union of 50 Best Features: 0.7224669603524229